<h2 class="text-center">Admins Only</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="d-flex flex-column align-items-center justify-content-center">
    <div class="row col-2">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class:"form-control" %>
    </div>

    <div class="row col-2">
      <%= f.label :password %><br />
      <%= f.password_field :password, class:"form-control" %>
    </div>


    <div class="row col-2">
      <%= f.submit "Log in", class:"btn btn-primary my-3" %>
    </div>
  </div>
<% end %>


